doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/javascripts/master/jquery-2.1.1.min.js')
    script(type='text/javascript' src='/javascripts/master/underscore-min.js')
    script(type='text/javascript' src='/javascripts/master/backbone.min.js')
  body
    block content
  footer
  script(type='text/javascript' src='/javascripts/pages/index/indexApp.js')